---
layout: base.njk
title: Welcome
---

{%- from "macros.njk" import component -%}

<div class="p-6 text-myblue font-myfont big:text-myred">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour depuis l'éditeur local !" }) }}
    </div>
</div>
<a href="galerie">galerie</a>